body {
	background-color: rgb(255, 210, 255);
}

h1 {
	font-family: times new roman;
	font-weight: lighter;
	font-size: 44px;
	font-style: italic;
	text-align: center;
	color: rgb(0, 0, 255);
	letter-spacing: 10px;
}

h2 {
	font-family: times new roman;
	font-weight: lighter;
	font-size: 20px;
	font-style: italic;
	color: rgb(0, 0, 255);
	letter-spacing: 5px;
}

p {
	font-family: times new roman;
	font-weight: lighter;
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: rgb(0, 0, 255);
}

a {
	text-decoration: none;
	color: rgb(150, 0, 255);
}

.centre {
	display: block;
	margin: 0 auto;
}

.list {
	font-style: italic;
    	letter-spacing: 5px;
    	list-style: circle;
        font-size: 16px;
    	color: rgb(150, 0, 255)
}

.research {
	list-style: circle;
	color: rgb(0, 0, 255);
}

.container {
        font-family: times new roman;
	font-weight: lighter;
	text-align: justify;
	line-height: 25px;
	width: 600px;
	margin: 0 auto;
}

.content {
        font-family: times new roman;
	font-weight: lighter;
	text-align: justify;
	line-height: 25px;
        font-size: 16px;
	width: 1080px;
	margin: 0 auto;
	text-align: center;
}

.links {
        font-family: times new roman;
	font-weight: lighter;
	text-align: center;
	line-height: 25px;
	font-size: 16px;
	width: 600px;
	margin: 0 auto;
	word-spacing: 30px;
}



